extends layout
block content 
  h1=title 
  if (currentUser)
    h2 Welcome back, #{currentUser.username}
    a(href ='/sign-out') Sign out
  else
    h2 Please sign up or sign in.
    a(href = '/sign-up') Sign up
    a(href = '/sign-in') Sign in
  
  if currentUser
    a(href = '/post-form') Make a post!
    if (!currentUser.clubhouse)
      h3 Join the clubhouse to see more information about each post!
      h4 If you know the password for the clubhouse, enter it below.
      form(method = 'POST' action='/clubhouse-password')
        label(for='clubhousePassword') Clubhouse password:
        input(type='password' name='clubhousePassword' required=true)
        button(type='submit') Submit
    for post in posts 
      h4= post.title
      if (currentUser.clubhouse)
        h5 #{post.user.username} #{post.createdAt}
      p= post.content
      if currentUser.admin
        a(href=('/' + post._id + '/delete')) Delete post
  else
    h4 You need to sign in to view posts.